#container
{
	margin: 0 10px;
	background: #FFFFFF;
}

#header
{
	background: #FF4500;
	padding: 50px;
	text-align: center;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background:#FFDAB9;

}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 75px;
	margin: 20px;
	-webkit-border-radius: 50px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #FF4500;
	box-shadow: 5px 5px 6px #FF4500;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.85;
}

#edito h2
{
	color: #FF4500;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 50px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px ;
	box-shadow: 5px 5px 6px #FF4500;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.85;
}

#footer
{
	clear: both;
	background: #FF4500;
	text-align: center;
	padding: 20px;
	height: 1%;
}
